{{#items}}
<div id="item-{{id}}" class="item item-{{type}} no-select {{#isNew}} hidden {{/isNew}}">
  {{#canPromote}}
  <span class="promote-button" onclick="promote({element: this, event, id: '{{id}}'})">✵</span>
  {{/canPromote}}
  {{#canComplete}}
  <input type="checkbox" onchange="completeTask({element: this, event, id: '{{id}}'})"
      {{#isCompleted}} checked {{/isCompleted}}
    >
  <label for="{{id}}"
    onclick="completeTask({element: this, event, id: '{{id}}'})"
  ></label>
  {{/canComplete}}
  <span>{{title}}</span>
  {{#hasChildren}}
  <div class="chevron"  >+</div>
  <div class="disclosure-button" onclick="toggleDisclosed({element: this, event, id: '{{id}}'})"></div>
  <img class="spinner inactive" src="public/images/spinner.gif">
  <div class="collapsible" style="height: 0">
    <div class="flex">
      <input type="text" class="item-title"
        onfocus="makeDefault({element: this, event, id: '{{id}}'})"
        oninput="makeDefault({element: this, event, id: '{{id}}'})"
        onblur="unmakeDefault({element: this, event, id: '{{id}}'})"
        onkeydown="addTaskIfEnter({element: this, event, id: '{{id}}'})" placeholder="What needs to be done?">
      <button class="add-button" onclick="addTask({element: this, event, id: '{{id}}'})">+</button>
    </div>
    <div class="item-list"></div>
  </div>
  {{/hasChildren}}
</div>
{{/items}}
