{{#items}}
<div id="item-{{id}}" class="{{type}} no-select {{#isNew}} hidden {{/isNew}}" {{#canPromote}} onclick="completeTask({element: this, event, id: '{{id}}'})" {{/canPromote}}>
  {{#canPromote}}
  <span class="promote-button" id="promote-{{id}}" onclick="promote({element: this, event, id: '{{id}}'})">✵</span>
  {{/canPromote}}
  {{#canComplete}}
  <input type="checkbox" onchange="completeTask({element: this, event, id: '{{id}}'})"
      {{#isCompleted}} checked {{/isCompleted}}
    >
  <label for="{{id}}"></label>
  {{/canComplete}}
  <span>{{title}}</span>
  {{#hasChildren}}
  <div class="chevron" id="disclosure-story-{{id}}">+</div>
  <div class="disclosure-button" onclick="toggleDisclosed({element: this, event, id: '{{id}}'})"></div>
  <img class="spinner inactive" src="public/images/spinner.gif">
  <div class="collapsible" style="height: 0" id="collapsible-story-{{id}}">
    <input type="text" id="item-title-{{id}}" onkeydown="addTaskIfEnter({element: this, event, id: '{{id}}'})" placeholder="Do another thing">
    <button onclick="addTask({element: this, event, id: '{{id}}'})">Add Subtask</button>
    <div id="item-list-{{id}}" class="item-list"></div>
  </div>
  {{/hasChildren}}
</div>
{{/items}}
