{{#tasks}}
<div class="task {{#isNew}} new {{/isNew}}" onclick="toggle(this, event)">
  <input type="checkbox" id="{{id}}" onchange="toggle(this, event)"
      {{#isCompleted}} checked {{/isCompleted}}
    >
  {{title}}
</div>
{{/tasks}}
 