{{#tasks}}
<div class="task" onclick="toggle(this, event)">
  <input type="checkbox"{{#isCompleted}} checked {{/isCompleted}} id="{{id}}"
    onchange="toggle(this, event)">
  {{title}}
</div>
{{/tasks}}
 