{{#tasks}}
<div class="task no-select {{#isNew}} hidden {{/isNew}}" onclick="toggle({element: this, event})">
  <input type="checkbox" id="{{id}}" onchange="toggle({element: this, event})"
      {{#isCompleted}} checked {{/isCompleted}}
    >
  <label for="{{id}}"></label>
  <span>{{title}}</span>
</div>
{{/tasks}}
 