.feature {
  margin-top: 3px;
  background-color: rgb(53, 90, 70);
}

.feature.epic {
  background-color: rgb(150 159 106);
}

.item-Task {
  border-radius: 3px;
  background-color: rgb(53, 70, 90);
}

.feature > .title {
  font-weight: bold;
  font-size: 11pt;
}

.feature > .description {
  font-style: italic;
  font-size: 9pt;
}

.item-Task {
  margin-top: 3px;
}
