.item-Feature,
.feature {
  margin-top: 3px;
  background-color: beige;
  color: rgb(60 45 40);
}

.item-Epic,
.feature.epic {
  background-color: burlywood;
  color: saddlebrown;
}

.item-Task {
  margin-top: 3px;
  border-radius: 3px;
  background-color: rgb(53, 70, 90);
}

.item-Feature > .title,
.feature > .title {
  font-weight: bold;
  font-size: 11pt;
}

.item-Epic > .title > sup,
.feature.epic > .title > sup {
  padding: 0 2px;
  color: lavender;
  background-color: darkblue;
  font-family: cursive;
  font-weight: bold;
  font-size: 6pt;
  top: -7px;
}

.item-Epic input::placeholder,
.feature.epic input::placeholder {
  color: beige;
}

.item-Feature > .description,
.feature > .description {
  font-style: italic;
  font-size: 9pt;
}

a {
  color: aqua;
  text-decoration: dotted underline;
}

.add-button {
  height: 22px;
  width: 22px;
  padding: 0;
  border: 1px solid silver;
  border-radius: 22px;
  font-size: 10pt;
  text-align: center;
  line-height: 20px;
}

.add-button:hover {
  background-color: peru;
  transform: translateY(-1px);
}

.add-button:active {
  background-color: silver;
  transform: translateY(1px);
}

.pop-up {
  border-radius: 10px;
  padding: 10px;
  color: darkslategrey;
  background-color: blanchedalmond;
  box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 15%);
  position: absolute;
  width: 200px;
  display: none;
}
