.task-list {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.task {
  cursor: hand;
  height: 21px;
  user-select: none;
  -webkit-user-select: none;
  transition: height .5s ease-out;
  overflow-y: hidden;
}

.task.hidden {
  height: 0;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 10pt;
}

button {
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 10pt;
  background-color: white;
}

button:hover {
  background-color: silver;
  transform: translateY(-1px);
}

button:active {
  background-color: silver;
  transform: translateY(1px);
}
