body {
  font-family: system-ui;
  font-size: 10pt;
  color: rgb(240, 240, 255);
  background-color: rgb(30, 50, 60);
  width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}

.item {
  position: relative;
  margin: 1px;
  padding: 10px;
  padding-left: 40px;
  box-shadow: 0px 2px 5px 1px rgb(0 0 0 / 15%);
  border-radius: 20px;
  transition: border-radius 1s ease-out;
}

.item.disclosed {
  border-radius: 10px;
}

/* TODO: Change this to a class instead */
label {
  cursor: hand;
}

.item-Story {
  cursor: default;
  background-color: hsl(179deg 54% 25%);
}

.item-Task {
  height: 21px;
  overflow-y: hidden;
  transition: height .5s ease-out;
}

.item-Task.hidden {
  height: 0;
}

.item-Task > label {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 3px;
}

.item-Task > .promote-button {
  position: absolute;
  top: 2px;
  right: 2px;
}

.disclosure-button {
  position: absolute;
  top: 6px;
  right: 2px;
  width: 20px;
  height: 20px;
  z-index: 20;
  border-radius: 3px;
}

.disclosure-button:hover {
  border: 1px solid grey;
}

.chevron {
  position: absolute;
  top: 8px;
  right: 8px;
  transition: transform .2s;
}

.disclosed > .chevron {
  transform: rotate(45deg) translate(.75px, -0.25px);
}

.collapsible {
  margin-top: 5px;
  overflow-y: hidden;
  transition: height .6s ease;
  position: relative;
}

.spinner {
  position: absolute;
  height: 20px;
  right: 3px;
  top: 6px;
}

.spinner.inactive {
  display: none;
}

.flex {
  display: flex;
}

/* TODO: Change this to a class instead */
input[type="text"] {
  flex: 1;
  margin-right: 6px;
  padding: 5px;
  border: 1px solid silver;
  border-radius: 5px;

  font-size: 10pt;

  color: rgb(255 228 196);
  background-color: rgba(0, 0, 0, 0.3);
  outline-color: white;
}

/* TODO: Change this to a class instead */
button {
  height: 23px;
  width: 23px;

  padding: 0;
  border: 1px solid silver;
  border-radius: 2px;

  font-size: 10pt;
  background-color: white;
}

button.default {
  background-color: dodgerblue;
}

button:hover {
  background-color: silver;
  transform: translateY(-1px);
}

button.default:hover {
  background-color: dodgerblue;
}

button:active {
  background-color: silver;
  transform: translateY(1px);
}

.measure {
  position: relative;

  overflow: hidden;
  height: 0;
  width: 0;
}

/* TODO: Change this to .measure > div */
#measure {
  position: absolute;
  top: 10px;
  left: 10px;
}
